<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--add key="QueueUrl" value="https://sqs.us-west-2.amazonaws.com/879101183817/HIP-SMQ-Test" />
    <add key="QueueUser" value="NotUsedForSqs"/>
    <add key="QueuePwd" value="NotUsedForSqs" /-->

    <!-- AWS SQS Credentials-->
    <add key="AWSProfileName" value="default"/>
    <add key="AWSRegion" value="us-west-2" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebSvc" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59388/SalesWebSvc.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWebSvc" contract="SalesWebService.IWebSvc"
        name="BasicHttpBinding_IWebSvc" />
    </client>
  </system.serviceModel>
</configuration>