<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PushServiceUrl" value="http://localhost:59388/PushSvc.svc"/>
    <add key="NotificationServiceUrl" value="http://localhost:2303/NotificationService.svc"/>
    <add key="OnRampServiceServiceUrl" value="http://localhost:55810/OnRampSvc.svc"/>
    <add key="DbConnectionString" value="Dsn=HIPMgmtAuroraDB;data source={'DRIVER={MySQL ODBC 5.3 ANSI Driver}};Trusted_Connection = true'}"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPushSvc" />
        <binding name="BasicHttpBinding_INotificationService" />
        <binding name="BasicHttpBinding_IOnRampSvc" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55821/PushSvc.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IPushSvc" contract="PushService.IPushSvc"
            name="BasicHttpBinding_IPushSvc" />
      <endpoint address="http://localhost:2303/NotificationService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
            contract="NotificationService.INotificationService" name="BasicHttpBinding_INotificationService" />
      <endpoint address="http://localhost:55810/OnRampSvc.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnRampSvc"
            contract="OnRampService.IOnRampSvc" name="BasicHttpBinding_IOnRampSvc" />
    </client>
  </system.serviceModel>
</configuration>