<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Dsn=HIPMgmtAuroraDB;data source={'DRIVER={MySQL ODBC 5.3 ANSI Driver}};Trusted_Connection = true'}"/>
    <add key="TracingEnabled" value="true"/>
    <add key="RunDelayInSeconds" value="60"/>
    <add key="SkipLimit" value="3"/>
    <add key="HeartbeatAddress" value="/Utility/MessageBusService/SqsPushWebSvc.v2/Heartbeat.aspx"/>

    <!-- AWS SQS Credentials-->
    <add key="AWSProfileName" value="default"/>
    <add key="AWSRegion" value="us-west-2" />

  </appSettings>
</configuration>