<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISalesDocWcfService" />
                <binding name="BasicHttpBinding_IWcfMessagingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:36072/SalesDocWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalesDocWcfService"
                contract="SalesDocWcfSvc.ISalesDocWcfService" name="BasicHttpBinding_ISalesDocWcfService" />
            <endpoint address="http://localhost:36072/WcfMessagingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfMessagingService"
                contract="WcfDestinationService.IWcfMessagingService" name="BasicHttpBinding_IWcfMessagingService" />
        </client>
    </system.serviceModel>
</configuration>