<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="BC.Integration" />
    <!--alias alias="<Name to use in register node below>" 
               type="<Name of class including namespace>, 
									    <Dll assembly filename>, 
                      Version=1.0.0.0, 
                      Culture=neutral, 
									    PublicKeyToken=<Signing Cert ID. will be 'dcedabc31c4978dc' for HerschelKey cert>,
									    processorArchitecture=MSIL"/-->

    <alias alias="IInstrumentation" type="BC.Integration.Interfaces.IInstrumentation, BC.Integration.Interfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=dcedabc31c4978dc, processorArchitecture=MSIL"/>
    <alias alias="InstrumentationDB" type="BC.Integration.Utility.InstrumentationDB, BC.Integration.Utility.InstrumentationDB, Version=1.0.0.0, Culture=neutral, PublicKeyToken=dcedabc31c4978dc, processorArchitecture=MSIL"/>

    <alias alias="IConfiguration" type="BC.Integration.Interfaces.IConfiguration, BC.Integration.Interfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=dcedabc31c4978dc, processorArchitecture=MSIL"/>
    <alias alias="CentralConfiguration" type="BC.Integration.Utility.CentralConfiguration, BC.Integration.Utility.CentralConfiguration, Version=3.0.0.0, Culture=neutral, PublicKeyToken=dcedabc31c4978dc, processorArchitecture=MSIL"/>

    <alias alias="IPublishService" type="BC.Integration.Interfaces.IPublishService, BC.Integration.Interfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=dcedabc31c4978dc, processorArchitecture=MSIL"/>
    <alias alias="SqsMessageBus" type="BC.Integration.Utility.SqsPublishService, BC.Integration.Utility.SqsPublishService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=dcedabc31c4978dc, processorArchitecture=MSIL"/>

    <container>
      <register type="IInstrumentation" mapTo="InstrumentationDB" />
      <register type="IConfiguration" mapTo="CentralConfiguration" />
      <register type="IPublishService" mapTo="SqsMessageBus" />
    </container>
  </unity>

  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <!-- Non-overridable config properties-->
    <!--"ProcessName"  For a singleton service the process name is determined by the on-ramp web service-->
    <add key="ServiceId" value="LightspeedPosSalesService"/>
    <add key="ServiceVersion" value="1"/>
    <add key="ServiceOperationId" value="PosDocumentOnRamp"/>
    <add key="ServicePostOperationId" value="QueueSalesDocument"/>
    <add key="CentralConfigConnString" value="Dsn=HIPMgmtAuroraDB;data source={'DRIVER={MySQL ODBC 5.3 ANSI Driver}};Trusted_Connection = true'}"/>
    <add key="TracingMessageFolderPath" value="C:\\Hip Process Files\#ProcessName#\TracingEnabled"/>
    <add key="ExceptionMessageFolderPath" value="C:\\Hip Process Files\#ProcessName#\ExceptionMsg"/>
    <add key="PickupFileFolderPath" value="C:\\Hip Process Files\#ProcessName#\PickupFile"/>
    <!-- Tracing Prefix Naming Strategy for Services:
        [Source or Destination System].[Document Type].OnR/OffR:-->
    <add key="TracingPrefix" value="[Source or Destination System].[Document Type].OnR/OffR"/>
   

    <!-- Overridable config properties-->
    <add key="MsgType" value="BC.Integration.Canonical.SalesChannelInvoice"/>
    <add key="MessageVersion" value="1"/>
    <add key="LocalFileSource" value="false"/>
    <add key="InstrumentationConn" value="Dsn=HIPMgmtAuroraDB;data source={'DRIVER={MySQL ODBC 5.3 ANSI Driver}};Trusted_Connection = true'}"/>
    <add key="InstrumentationLevel" value="Verbose"/>
    <add key="DatabaseRetryCount" value="2"/>
    <add key="DatabaseRetryInterval" value="3"/> <!-- interval in seconds-->
	  <add key="TracingEnabled" value="true"/>
    
    <!-- Mapping Data for convertion of shop ID to site ID. 'ShopId|SiteId,ShopId|SiteId,ShopId|SiteId' -->
    <add key="ShopIdToSiteIdMapping" value="1|31,2|30"/>

    <!-- AWS SQS Credentials-->
    <add key="AWSProfileName" value="default"/>
    <add key="AWSRegion" value="us-west-2" />

    <!-- Messaging queue parameters-->
    <add key="QueueUrl" value="https://sqs.us-west-2.amazonaws.com/879101183817/PosSalesDocuments" />
    <add key="ServiceRetryCount" value="3"/>
    <add key="ServiceRetryInterval" value="15"/> <!-- interval in seconds-->

    <add key="LightspeedTokenRefreshUrl" value="https://cloud.lightspeedapp.com/oauth/access_token.php"/>
    <add key="ClientKey" value="00db7eaf8cf70e1e6b3a508536a66de0b795a43681d8e24a5a4455e804ae467b"/>
    <add key="ClientSecret" value="05404b0d89f0bc5c227d54ce18684d5d9775d7f861ed82805d19f86ed20e0480"/>
    <add key="RefreshToken" value="07bd2cd751eae706d3674596a02328d11204999f"/>
    <add key="LightspeedRootUrl" value="https://api.lightspeedapp.com/API/Account/"/>
    <add key="LightspeedCustomerAccountId" value="168326"/>
    <add key="ApiBatchSize" value="99"/> <!-- max value = 100 -->
    <add key="ApiGetPoints" value="1"/>
    <add key="ApiPutPoints" value="10"/>
    <add key="ExternalDocTrackingConn" value="Dsn=HIPMgmtAuroraDB;data source={'DRIVER={MySQL ODBC 5.3 ANSI Driver}};Trusted_Connection = true'}"/>

    <!-- Mapping processing flags -->
    <add key="ExchangeSplitting" value="true"/>
    <add key="ReturnMappingAdjustments" value="true"/>
  </appSettings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>