<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PushServiceUrl" value="http://localhost:59388/PushSvc.svc"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPushSvc" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55821/PushSvc.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPushSvc" contract="Push.IPushSvc"
        name="BasicHttpBinding_IPushSvc" />
    </client>
  </system.serviceModel>
</configuration>